

<div class="card">
    <div class="card-body">
        <h2>{{post.titulo}}</h2>
        <hr>
        <small>Data de publicação: {{post.data}}</small>
        <hr>
        {{post.conteudo}}
    </div>
</div>